@page
@model Exercises.Pages.Lesson1.Assignment5

@{
    Layout = null;
}

<div>
    <form method="post">
        <h1>Happy: <span id="happyCount">@Model.</span>
            <button id="btnHappy" type="submit" asp-page-handler="Happy">Happy++</button>
        </h1>

        <h1>Disappointed: <span id="disappointedCount">###</span>
            <button id="btnDisappointed" type="submit" asp-page-handler="Disappointed">Disappointed++</button>
        </h1>

        <h1>Angry: <span id="angryCount">###</span>
            <button id="btnAngry" type="submit" asp-page-handler="Angry">Angry++</button>
        </h1>

        <hr>

        <button id="btnDeleteCookie" type="submit" >Delete Cookie</button>
    </form>
</div>
